:root {
  --bg: #000000;
  --clr: #f1f1f1;
  --pri: #3e065f;
  --sec: #700b97;
  --thi: #8e05c2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  font-family: 'Arial', Helvetica, sans-serif;
  background: var(--clr);
  color: var(--bg);
  transition: 2s;
}

h1 {
  text-align: center;
  font-size: 3em;
}
.header {
  height: 90px;
}
.header,
.header figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header figure {
  padding: 0 50px;
}
.logo span {
  font-size: 1.8em;
}
.icon__theme {
  font-size: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.icon__theme:hover {
  color: var(--thi);
  transition: 0.5s;
}
